@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--white-color);
}

body {
    background-color: var(--bg-color-1);
}

input,
textarea {
  background: white;
  border-radius: 6px;
  filter: drop-shadow(0px 3px 13px rgba(0, 0, 0, 0.07));
  height: 30px;
  padding: 0px 10px;
  width: 250px;
  color: var(--black-color);
}

textarea {
  height: 90px !important;
  padding: 10px !important;
}

label {
    color: var(--black-color);
  }
