:root {
    --primary-color: #F8D654;
    --secondary-color: #AFFCCE;
    --bg-color-1: #E96B4B;
    --bg-color-2: #2141B5;
    --bg-color-3: #571FB6;
    --black-color: #000000;
    --white-color: #FFFF;
    --gray-color: #F0D5D5;
    --light-yellow: #F9DA64;
    --light-blue: #2D4EBF;
    --dark-blue: #203B98;
}